<?xml version="1.0" encoding="UTF-8"?>

<!-- ################### -->
<!-- Author : AMAN VERMA -->
<!-- ################### -->

<Configuration status="INFO">

	<Appenders>

		<!-- Console Appender -->

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>

		<!-- Employee Menu File Appender -->

		<File name="EmployeeMenu" fileName="logs/EmployeeMenu.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Employee JDBC Connection File Appender -->

		<File name="Connection" fileName="logs/EmployeeJdbcConnection.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Add Employee Service File Appender -->

		<File name="AddEmployee" fileName="logs/AddEmployeeService.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Delete Employee Service File Appender -->

		<File name="DeleteEmployee" fileName="logs/DeleteEmployeeService.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Update Employee Service File Appender -->

		<File name="UpdateEmployee" fileName="logs/UpdateEmployeeService.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Show Employee Service File Appender -->

		<File name="ShowEmployee" fileName="logs/ShowEmployeeService.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>

		<!-- Root Logger -->

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<!-- Employee Menu Logger -->

		<Logger name="com.aman.jdbc.employee.ui.EmployeeMenu"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="EmployeeMenu" />
		</Logger>

		<!-- Employee Menu Logger -->

		<Logger name="com.aman.jdbc.employee.ui.EmployeeMenu"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="EmployeeMenu" />
		</Logger>

		<!-- Employee JDBC Connection Logger -->

		<Logger
			name="com.aman.jdbc.employee.connection.EmployeeJdbcConnection"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="Connection" />
		</Logger>

		<!-- Add Employee Service Logger -->

		<Logger
			name="com.aman.jdbc.employee.service.AddEmployeeService"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="AddEmployee" />
		</Logger>

		<!-- Delete Employee Service Logger -->

		<Logger
			name="com.aman.jdbc.employee.service.DeleteEmployeeService"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="DeleteEmployee" />
		</Logger>

		<!-- Update Employee Service Logger -->

		<Logger
			name="com.aman.jdbc.employee.service.UpdateEmployeeService"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="UpdateEmployee" />
		</Logger>

		<!-- Show Employee Service Logger -->

		<Logger
			name="com.aman.jdbc.employee.service.ShowEmployeeService"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="ShowEmployee" />
		</Logger>

	</Loggers>

</Configuration>