<?xml version="1.0" encoding="UTF-8"?>

<!-- ################### -->
<!-- Author : AMAN VERMA -->
<!-- ################### -->

<Configuration status="INFO">

	<!-- Appenders Configuration -->

	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Main Client File Appender -->
		<File name="Main" fileName="logs/Main.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<!-- Loggers Configuration -->

	<Loggers>

		<!-- Main Client Logger -->
		<Logger name="com.stpl.trainee.aman.assignment1.ui.MainClient"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Main" />
		</Logger>

		<!-- Root Logger -->
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>