<?xml version="1.0" encoding="UTF-8"?>

<!-- ################### -->
<!-- Author : AMAN VERMA -->
<!-- ################### -->

<Configuration status="INFO">

	<Appenders>

		<!-- Console Appender -->

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Phone Menu File Appender -->

		<File name="Menu" fileName="logs/PhoneMenu.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<!-- Phone Book Service File Appender -->

		<File name="Service" fileName="logs/PhoneBookService.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>

		<!-- Root Logger -->

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<!-- Phone Menu Logger -->

		<Logger name="com.stpl.trainee.aman.assignment3.phonebook.ui.PhoneMenu"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="Menu" />
		</Logger>

		<!-- Phone Book Service Logger -->

		<Logger
			name="com.stpl.trainee.aman.assignment3.phonebook.service.PhoneBookService"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<appender-ref ref="Service" />
		</Logger>

	</Loggers>

</Configuration>